{% extends "layout.html" %}

{% block content1 %}
{% if 'desg_edit1' in request.url %}
<div style='margin-left: 100px; width: 45%;'>
  <div class="alert alert-info" role="alert">
   <strong>Your turn!</strong> Edit your selected data line here ...
 </div>

 {% for eresult in eresults %}
<form action = "desg_edit2" method = "POST">
	<p>Designation Id<input class="form-control" type = "text" name = "desg_id" style='width: 100%;' value='{{eresult["desg_id"]}}' required /></p>
	<p>Name<input class="form-control" type = "text" name = "name" style='width: 100%;' value='{{eresult["name"]}}'
	maxlength="20" required /></p>
	<p>Salary<input class="form-control" type = "text" name = "salary" style='width: 100%;' value='{{eresult["salary"]}}' required /></p>
	<p>Department Id<input class="form-control" type = "text" name = "dept_id" style='width: 100%;' value='{{eresult["dept_id"]}}' required /></p>
	<p><input type = "hidden" name = "old_desg_id" value='{{eresult["desg_id"]}}' /></p>
{% endfor %}

   <br>

   <p><input class="btn-primary" type = "submit" value = "Update Data" /></p>
 </form>
</div>

{% else %}
<div style='margin-left: 100px; width: 45%;'>
  <div class="alert alert-info" role="alert">
    <strong>Your turn!</strong> Insert your new data line with this form ...
  </div>

  <form action = "desg_insert" method = "POST">
	<p>Designation Id: <input class="form-control" type = "text" name = "desg_id" style='width: 100%;' required /></p>
	<p>Name: <input class="form-control" type = "text" name = "name" style='width: 100%;' maxlength="20" required /></p>
	<p>Salary: <input class="form-control" type = "text" name = "salary" style='width: 100%;' required /></p>
	<p>Department Id: <input class="form-control" type = "text" name = "dept_id" style='width: 100%;' required /></p>
	<p><input class="btn-primary" type = "submit" value = "Insert Data" /></p>
</form>
</div>


{% endif %}
{% endblock content1 %}

{% block content2 %}

<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
 <thead>
  <tr>
	<th>Designation Id</th>
	<th>Name</th>
	<th>Salary</th>
	<th>Department Id</th>
</tr>
</thead>

{% for result in results %}
<tr>
<td>{{result["desg_id"]}}</td>
<td>{{result["name"]}}</td>
<td>{{result["salary"]}}</td>
<td>{{result["dept_id"]}}</td>
<td align="center"><a href = "{{ url_for('desg_edit1', desg_id=result['desg_id'])}}"><i class="fas fa-edit"></a></td>
   <td align="center"><a href = "{{ url_for('desg_delete', desg_id=result['desg_id'])}}"><i class="fas fa-trash-alt"></a></td>
   </tr>
   {% endfor %}
 </table>
 {% endblock content2 %}
