{% extends "layout.html" %}

{% block content1 %}
{% if 'library_edit1' in request.url %}
<div style='margin-left: 100px; width: 45%;'>
  <div class="alert alert-info" role="alert">
   <strong>Your turn!</strong> Edit your selected data line here ...
 </div>

 {% for eresult in eresults %}
<form action = "library_edit2" method = "POST">
	<p>Book Id<input class="form-control" type = "text" name = "book_id" style='width: 100%;' value='{{eresult["book_id"]}}' required /></p>
	<p>Book Name<input class="form-control" type = "text" name = "book_name" style='width: 100%;' value='{{eresult["book_name"]}}' maxlength="30" required /></p>
	<p>Edition<input class="form-control" type = "text" name = "edition" style='width: 100%;' value='{{eresult["edition"]}}' required /></p>
	<p>Quantity<input class="form-control" type = "text" name = "quantity" style='width: 100%;' value='{{eresult["quantity"]}}' required /></p>
	<p><input type = "hidden" name = "old_book_id" value='{{eresult["book_id"]}}' /></p>
{% endfor %}

   <br>

   <p><input class="btn-primary" type = "submit" value = "Update Data" /></p>
 </form>
</div>

{% else %}
<div style='margin-left: 100px; width: 45%;'>
  <div class="alert alert-info" role="alert">
    <strong>Your turn!</strong> Insert your new data line with this form ...
  </div>

  <form action = "library_insert" method = "POST">
	<p>Book Id: <input class="form-control" type = "text" name = "book_id" style='width: 100%;' required /></p>
	<p>Book Name: <input class="form-control" type = "text" name = "book_name" style='width: 100%;'
		maxlength="30" required /></p>
	<p>Edition: <input class="form-control" type = "text" name = "edition" style='width: 100%;' required /></p>
	<p>Quantity: <input class="form-control" type = "text" name = "quantity" style='width: 100%;' required /></p>
	<p><input class="btn-primary" type = "submit" value = "Insert Data" required /></p>
</form>
</div>


{% endif %}
{% endblock content1 %}

{% block content2 %}

<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
 <thead>
  <tr>
	<th>Book Id</th>
	<th>Book Name</th>
	<th>Edition</th>
	<th>Quantity</th>
</tr>
</thead>

{% for result in results %}
<tr>
<td>{{result["book_id"]}}</td>
<td>{{result["book_name"]}}</td>
<td>{{result["edition"]}}</td>
<td>{{result["quantity"]}}</td>
<td align="center"><a href = "{{ url_for('library_edit1', book_id=result['book_id'])}}"><i class="fas fa-edit"></a></td>
   <td align="center"><a href = "{{ url_for('library_delete', book_id=result['book_id'])}}"><i class="fas fa-trash-alt"></a></td>
   </tr>
   {% endfor %}
 </table>
 {% endblock content2 %}
