{% extends "layout.html" %}

{% block content1 %}
{% if 'students_edit1' in request.url %}
<div style='margin-left: 100px; width: 45%;'>
  <div class="alert alert-info" role="alert">
   <strong>Your turn!</strong> Edit your selected data line here ...
 </div>

 {% for eresult in eresults %}
<form action = "students_edit2" method = "POST">
	<p>Roll No<input class="form-control" type = "text" name = "roll_no" style='width: 100%;' value='{{eresult["roll_no"]}}'  required /></p>
	<p>Name<input class="form-control" type = "text" name = "name" style='width: 100%;' value='{{eresult["name"]}}'
		maxlength="30" required /></p>
	<p>Degree<input class="form-control" type = "text" name = "degree" style='width: 100%;' value='{{eresult["degree"]}}' maxlength="10" required /></p>
	<p>Year<input class="form-control" type = "text" name = "year" style='width: 100%;' value='{{eresult["year"]}}'
	 required /></p>
	<p>Sex  &nbsp <input type="radio" name="sex" value="1" checked> Male  &nbsp
				  <input type="radio" name="sex" value="0" > Female<br></p>
	<p>Phone<input class="form-control" type = "text" name = "phone" style='width: 100%;' value='{{eresult["phone"]}}'
		required/></p>
	<p>DOB<input class="form-control" type = "date" name = "dob" style='width: 100%;' value='{{eresult["dob"]}}'
		required /></p>
	<p>Address<input class="form-control" type = "text" name = "address" style='width: 100%;' value='{{eresult["address"]}}' maxlength="100"  required /></p>
	<p><input type = "hidden" name = "old_roll_no" value='{{eresult["roll_no"]}}' /></p>
{% endfor %}

   <br>

   <p><input class="btn-primary" type = "submit" value = "Update Data" /></p>
 </form>
</div>

{% else %}
<div style='margin-left: 100px; width: 45%;'>
  <div class="alert alert-info" role="alert">
    <strong>Your turn!</strong> Insert your new data line with this form ...
  </div>

  <form action = "students_insert" method = "POST">
	<p>Roll No: <input class="form-control" type = "text" name = "roll_no" style='width: 100%;' required/></p>
	<p>Name: <input class="form-control" type = "text" name = "name" style='width: 100%;' maxlength="30" required /></p>
	<p>Degree: <input class="form-control" type = "text" name = "degree" style='width: 100%;' maxlength="10"
		required/></p>
	<p>Year: <input class="form-control" type = "text" name = "year" style='width: 100%;' required /></p>
	<p>Sex  &nbsp <input type="radio" name="sex" value="1" checked> Male  &nbsp
		<input type="radio" name="sex" value="0" > Female<br></p>
	<p>Phone: <input class="form-control" type = "text" name = "phone" style='width: 100%;' required /></p>
	<p>DOB: <input class="form-control" type = "date" name = "dob" style='width: 100%;' required /></p>
	<p>Address: <input class="form-control" type = "text" name = "address" style='width: 100%;' maxlength="100"
		required /></p>
	<p><input class="btn-primary" type = "submit" value = "Insert Data" /></p>
</form>
</div>


{% endif %}
{% endblock content1 %}

{% block content2 %}

<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
 <thead>
  <tr>
	<th>Roll No</th>
	<th>Name</th>
	<th>Degree</th>
	<th>Year</th>
	<th>Sex</th>
	<th>Phone</th>
	<th>DOB</th>
	<th>Address</th>
</tr>
</thead>

{% for result in results %}
<tr>
<td>{{result["roll_no"]}}</td>
<td>{{result["name"]}}</td>
<td>{{result["degree"]}}</td>
<td>{{result["year"]}}</td>
<td>{{result["sex"]}}</td>
<td>{{result["phone"]}}</td>
<td>{{result["dob"]}}</td>
<td>{{result["address"]}}</td>
<td align="center"><a href = "{{ url_for('students_edit1', roll_no=result['roll_no'])}}"><i class="fas fa-edit"></a></td>
   <td align="center"><a href = "{{ url_for('students_delete', roll_no=result['roll_no'])}}"><i class="fas fa-trash-alt"></a></td>
   </tr>
   {% endfor %}
 </table>
 {% endblock content2 %}
