{% extends "layout.html" %}

{% block content1 %}
{% if 'visitor_edit1' in request.url %}
<div style='margin-left: 100px; width: 45%;'>
  <div class="alert alert-info" role="alert">
   <strong>Your turn!</strong> Edit your selected data line here ...
 </div>

 {% for eresult in eresults %}
<form action = "visitor_edit2" method = "POST">
	<p>Visitor Id<input class="form-control" type = "text" name = "visitor_id" style='width: 100%;' value='{{eresult["visitor_id"]}}' /></p>
	<p>Name<input class="form-control" type = "text" name = "name" style='width: 100%;' value='{{eresult["name"]}}'
		maxlength="30"/></p{% extends "layout.html" %}

{% block content1 %}
{% if 'visitor_edit1' in request.url %}
<div style='margin-left: 100px; width: 45%;'>
  <div class="alert alert-info" role="alert">
   <strong>Your turn!</strong> Edit your selected data line here ...
 </div>

 {% for eresult in eresults %}
<form action = "visitor_edit2" method = "POST">
	<p>Visitor Id<input class="form-control" type = "text" name = "visitor_id" style='width: 100%;' value='{{eresult["visitor_id"]}}' required /></p>
	<p>Name<input class="form-control" type = "text" name = "name" style='width: 100%;' value='{{eresult["name"]}}'
		maxlength="30" required /></p>
	<p>Phone<input class="form-control" type = "text" name = "phone" style='width: 100%;' value='{{eresult["phone"]}}'
	 required  /></p>
	<p>Sex  &nbsp <input type="radio" name="sex" value="1" checked> Male  &nbsp
				  <input type="radio" name="sex" value="0" > Female<br></p>
	<p>Age<input class="form-control" type = "text" name = "age" style='width: 100%;' value='{{eresult["age"]}}'
		required/></p>
	<p><input type = "hidden" name = "old_visitor_id" value='{{eresult["visitor_id"]}}' /></p>
{% endfor %}

   <br>

   <p><input class="btn-primary" type = "submit" value = "Update Data" /></p>
 </form>
</div>

{% else %}
<div style='margin-left: 100px; width: 45%;'>
  <div class="alert alert-info" role="alert">
    <strong>Your turn!</strong> Insert your new data line with this form ...
  </div>

  <form action = "visitor_insert" method = "POST">
	<p>Visitor Id: <input class="form-control" type = "text" name = "visitor_id" style='width: 100%;' required /></p>
	<p>Name: <input class="form-control" type = "text" name = "name" style='width: 100%;' maxlength="30" required /></p>
	<p>Phone: <input class="form-control" type = "text" name = "phone" style='width: 100%;' required /></p>
	<p>Sex  &nbsp <input type="radio" name="sex" value="1" checked> Male  &nbsp
		<input type="radio" name="sex" value="0" > Female<br></p>
	<p>Age: <input class="form-control" type = "text" name = "age" style='width: 100%;' required /></p>
	<p><input class="btn-primary" type = "submit" value = "Insert Data" /></p>
</form>
</div>


{% endif %}
{% endblock content1 %}

{% block content2 %}

<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
 <thead>
  <tr>
	<th>Visitor Id</th>
	<th>Name</th>
	<th>Phone</th>
	<th>Sex</th>
	<th>Age</th>
</tr>
</thead>

{% for result in results %}
<tr>
<td>{{result["visitor_id"]}}</td>
<td>{{result["name"]}}</td>
<td>{{result["phone"]}}</td>
<td>{{result["sex"]}}</td>
<td>{{result["age"]}}</td>
<td align="center"><a href = "{{ url_for('visitor_edit1', visitor_id=result['visitor_id'])}}"><i class="fas fa-edit"></a></td>
   <td align="center"><a href = "{{ url_for('visitor_delete', visitor_id=result['visitor_id'])}}"><i class="fas fa-trash-alt"></a></td>
   </tr>
   {% endfor %}
 </table>
 {% endblock content2 %}>
	<p>Phone<input class="form-control" type = "text" name = "phone" style='width: 100%;' value='{{eresult["phone"]}}' /></p>
	<p>Sex  &nbsp <input type="radio" name="sex" value="1" checked> Male  &nbsp
				  <input type="radio" name="sex" value="0" > Female<br></p>
	<p>Age<input class="form-control" type = "text" name = "age" style='width: 100%;' value='{{eresult["age"]}}' /></p>
	<p><input type = "hidden" name = "old_visitor_id" value='{{eresult["visitor_id"]}}' /></p>
{% endfor %}

   <br>

   <p><input class="btn-primary" type = "submit" value = "Update Data" /></p>
 </form>
</div>

{% else %}
<div style='margin-left: 100px; width: 45%;'>
  <div class="alert alert-info" role="alert">
    <strong>Your turn!</strong> Insert your new data line with this form ...
  </div>

  <form action = "visitor_insert" method = "POST">
	<p>Visitor Id: <input class="form-control" type = "text" name = "visitor_id" style='width: 100%;'/></p>
	<p>Name: <input class="form-control" type = "text" name = "name" style='width: 100%;' maxlength="30"/></p>
	<p>Phone: <input class="form-control" type = "text" name = "phone" style='width: 100%;'/></p>
	<p>Sex  &nbsp <input type="radio" name="sex" value="1" checked> Male  &nbsp
		<input type="radio" name="sex" value="0" > Female<br></p>
	<p>Age: <input class="form-control" type = "text" name = "age" style='width: 100%;'/></p>
	<p><input class="btn-primary" type = "submit" value = "Insert Data" /></p>
</form>
</div>


{% endif %}
{% endblock content1 %}

{% block content2 %}

<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
 <thead>
  <tr>
	<th>Visitor Id</th>
	<th>Name</th>
	<th>Phone</th>
	<th>Sex</th>
	<th>Age</th>
</tr>
</thead>

{% for result in results %}
<tr>
<td>{{result["visitor_id"]}}</td>
<td>{{result["name"]}}</td>
<td>{{result["phone"]}}</td>
<td>{{result["sex"]}}</td>
<td>{{result["age"]}}</td>
<td align="center"><a href = "{{ url_for('visitor_edit1', visitor_id=result['visitor_id'])}}"><i class="fas fa-edit"></a></td>
   <td align="center"><a href = "{{ url_for('visitor_delete', visitor_id=result['visitor_id'])}}"><i class="fas fa-trash-alt"></a></td>
   </tr>
   {% endfor %}
 </table>
 {% endblock content2 %}
